@footer-height: 56px;

#main {
  height: calc(100% - @footer-height);
  .container, #container {
    height: 100%;
  }
}
#footer {
  display: none;
}
.app {
  height: 100%;
  min-height: 100%;
  .playlists {
    .playlist-header {
      display: flex;
      justify-content: space-between;
    }
    .submit {
      width: 100%;
      color: #666;
      margin: 3px;
      display: inline-block;
      padding: 5px;
      text-decoration: none;
      &:hover {
        background: #eee;
      }
    }
    .tracks {
      .track {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        &:hover {
          background: #eee;
        }
        .track-thumb {
          padding: 2.5px;
          img {
            min-height: 79px;
            min-width: 79px;
            max-height: 80px;
            max-width: 80px;
          }
        }
        .track-info {
          justify-content: center;
          flex-direction: column;
          .track-title {
            font-size: 21px;
            margin: 0;
            padding: 0;
          }
          .track-artist {
            font-size: 14px;
            margin: 0;
            padding: 0;
          }
        }
        .track-length {
          justify-content: center;
          align-items: center;
        }
        .track-controls {
          justify-content: center;
          align-items: center;
          & > div {
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            display: flex;
            height: 100%;
            width: 40px;
          }
        }
      }
    }
  }
  .app-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .app-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    .error-code {
      font-size: 32px;
      color: #AAA;
      padding: 0;
      margin: 0;
    }

    .error-message {
      font-size: 21px;
      color: #666;
      padding: 0;
      margin: 0;
    }
  }
}
